
     <!-- result -->
     <div class="loadingresult">
      <img src="../../assets/images/loading.gif" alt="loading">
  </div>

  <div class="main  thankyou-page">
      <div class="main-inner">
          <div class="logo">
              <div class="logo-icon">
                  <img src="../../assets/images/logo.webp" alt="">
              </div>
              <div class="logo-text">
                  CERTIFICADO
              </div>
          </div>
          <article>
              <h2 id="otorgado"></h2>
              <h3 id="completeName"></h3>
              <span>Viernes 20 de Octubre del 2023</span>
              <p>
                  Por haber culminado de forma satisfactoria el curso de capacitación de <span>"Capacitación El Rey León"</span> impartido por <strong>Creative Productions.</strong>
              </p>
          </article>

          <div class="social-media" disabled="true">
              <a href="#"><i class="fa-brands fa-google"></i>Google</a>
              <a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a>
              <a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a>
          </div>
          <div class="mb-5 back-home">
              <a onclick="window.print();">Nuevo Formulario</a>
          </div>
      </div>
  </div>

  <div id="error"></div>




  <!-- <Thankyou JS -->
      <script src="../../assets/js/thankyou.js"></script>
  <!-- Custom js -->
  <script src="assets/js/custom.js"></script>
