<h2 mat-dialog-title>Agrega un nuevo pago</h2>
<mat-dialog-content class="mat-typography">

  <div class="example-container">

    <form>
      <mat-form-field>
        <mat-label>Empleado</mat-label>
        <input
               matInput
               [(ngModel)]="client"
               [formControl]="myControl"
               [matAutocomplete]="auto">
               <button matSuffix mat-raised-button style="height: 3.5rem;" (click)="openDialog()" color="primary">
                + Nuevo
              </button>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <mat-form-field>
      <mat-label>Proveedor</mat-label>
      <mat-select [(ngModel)]="problem" name="problem">
        <mat-option *ngFor="let option of optionsProblem" [value]="option">{{option}}</mat-option>
      </mat-select>
      <button matSuffix mat-raised-button style="height: 3.5rem;" (click)="openDialogProblema()" color="primary" aria-label="Clear">
        + Nuevo
      </button>
    </mat-form-field>



    <mat-form-field>
      <mat-label>Fecha de Pago</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="dueDate" name="dueDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cantidad</mat-label>
      <input matInput [(ngModel)]="dueTime" name="dueTime" required>
      <mat-icon matSuffix>money</mat-icon>
    </mat-form-field>



    <mat-form-field>
      <mat-label>Comentario</mat-label>
      <input matInput [(ngModel)]="password" name="password">
      <mat-hint>Algun comentario del pago</mat-hint>
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>

  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" color="" (click)="addProduct()">Agregar</button>
</mat-dialog-actions>
